<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Original URL: http://www.urbanui.com/serein/template/demo/vertical-default-light/pages/tables/data-table.html
Date Downloaded: 11/30/2018 1:56:41 PM !-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Quản Trị NhaDatTDM</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../../../vendors/iconfonts/mdi/font/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="../../../../vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="../../../../vendors/css/vendor.bundle.addons.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../../css/vertical-layout-light/style.css" />
  <!-- endinject -->
  <link rel="shortcut icon" href="../../../../images/favicon.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script data-require="jquery@*" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
  <script src="/controller/thongkeController.js"></script>
</head>

<body>
  <div class="container-scroller" ng-app="thongkeApp" ng-controller="thongkeCtrl">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="../../index.html"><img src="../../../../images/logo.svg"
            alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../../../images/logo-mini.svg"
            alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
 
          
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <span style="text-overflow:ellipsis; color: black;">Xin chào: {{nameadmin}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" ng-click="logout()">
                <i class="mdi mdi-logout text-primary"></i>
                Đăng Xuất
              </a>
            </div>
          </li>
         
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles primary"></div>
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles light"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item" id="admin">
            <a class="nav-link" href="admin.html" >
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Danh Sách Admin</span>
            </a>
        </li>
        
          <li class="nav-item">
            <a class="nav-link" href="vungxa.html">
              <i class="mdi mdi-trophy-award menu-icon"></i>
              <span class="menu-title">Danh Sách Phường\Xã</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="duong.html">
              <i class="mdi mdi-call-split menu-icon"></i>
              <span class="menu-title">Danh Sách Đường</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sanphamcty.html">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Quản Lý Tin Đăng Công Ty</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="danhsachquantamsp.html">
              <i class="mdi mdi-account-multiple-outline menu-icon"></i>
              <span class="menu-title">Danh Sách Quan Tâm BĐS</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="customer.html">
              <i class="mdi mdi-account-multiple-outline menu-icon"></i>
              <span class="menu-title">Quản Lý Người Dùng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sanphamnguoidung.html">
              <i class="mdi mdi-home-outline menu-icon"></i>
              <span class="menu-title">Quản Lý Tin Đăng Người Dùng</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="tintuc.html">
              <i class="mdi mdi-newspaper menu-icon"></i>
              <span class="menu-title">Quản Lý Tin Tức</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="map.html">
              <i class="mdi mdi-map-marker-outline menu-icon"></i>
              <span class="menu-title">Bản Đồ</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="thongke.html">
              <i class="mdi mdi-chart-line menu-icon"></i>
              <span class="menu-title">Thống Kê</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="sanphamchoduyet.html">
                <i class="mdi mdi-spellcheck menu-icon"></i>
                <span class="menu-title">Bài Đăng Chờ Duyệt</span>
                <!-- <i class="menu-arrow"></i> -->
            </a>
        </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <h4 class="card-title">Thống Kê Bất Động Sản Công Ty</h4>
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Chọn loại thống kê</label>
                  <div class="form-group">
                    <select class="form-control" id="thongke" ng-change="Functhongke()" ng-model="thongke">

                      <option value="1">Thống Kê Bất Động Sản Theo Loại</option>
                      <option value="2">Thống Kê Bất Động Sản Theo Vùng Xã</option>
                    </select>
                  </div>
                </div>

                <div class="col-4 mt-3" id="chonloai">
                  <h4 class="card-title"> </h4>
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Chọn Loại Bất Động Sản</label>
                  <div class="form-group">
                    <select class="form-control" name="idLoaisp" id="idLoaisp" ng-model="idLoaisp"
                      ng-change="myFuncLoai(idLoaisp)">
                      <option ng-repeat="loaisanpham in loaisanphams | orderBy: 'tenLoaisp'"
                        value="{{loaisanpham.idLoaisp}}">{{loaisanpham.tenLoaisp}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-4 mt-3" id="chonvungxa">
                  <h4 class="card-title"> </h4>
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Chọn Vùng Xã</label>
                  <div class="form-group">
                    <select class="form-control" name="idVungxa" id="idVungxa" ng-model="idVungxa"
                      ng-change="myFuncVung(idVungxa)">
                      <option ng-repeat="vungxa in vungxas | orderBy: 'tenVungxa'" value="{{vungxa.idVungxa}}">
                        {{vungxa.tenVungxa}}</option>
                    </select>
                  </div>
                </div>


                <!-- loại sản phẩm -->
                <div class="table-responsive mt-2">
                  <table class="table mt-3 border-top" border="1" id="loaisanpham">
                    <thead>
                      <tr></tr>

                      <th>ID</th>
                      <th>Tên Bất Động Sản</th>
                      <th>Loại Bất Động Sản</th>
                      <th>Phường</th>
                      <th>Đường</th>
                      <th>Hướng</th>
                      <th>Chiều Rộng</th>
                      <th>Chiều Dài</th>
                      <th>Diện Tích</th>
                      <th>Giá</th>
                      <th>Đơn Vị Giá</th>
                      <th>Hẻm</th>
                      <th>Pháp Lý</th>
                      <th>Thổ Cư</th>


                      </tr>
                    </thead>
                    <tbody ng-repeat="x in sanphamtheoloais | orderBy: 'idSanphamcty' | filter: search">
                      <tr>
                        <td>{{x.idSanphamcty}}</td>
                        <td>{{x.nameSanpham_cty}}</td>
                        <td>{{x.loaisanpham.tenLoaisp}}</td>
                        <td>{{x.vungxa.tenVungxa}}</td>
                        <td>{{x.duong.tenDuong}}</td>
                        <td>{{x.huong.nameHuong}}</td>
                        <td>{{x.chieurongSanpham_cty}}</td>
                        <td>{{x.chieudaiSanpham_cty}}</td>
                        <td>{{x.dientichSanpham_cty}}</td>
                        <td>{{x.giaSanpham_cty}}</td>
                        <td>{{x.donvigia.tenDonvigia}}</td>
                        <td>{{x.chieuronghem.tenHem}}</td>
                        <td>{{x.phaply.tenphaply}}</td>
                        <td>{{x.thocuSanpham_cty}}</td>
                      </tr>
                    </tbody>
                    <tr>
                      <td colspan="16"><b>Tổng Cộng </b>{{tong}}</td>
                    </tr>
                  </table>
                  <div class="d-flex table-responsive" id="nutinloaisanpham">
                    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModalCenter" id="nutxuat">
                      Xuất File Excel
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Đặt Tên File</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <input class="form-control" style="outline: 2px solid black;" type="text" name="tenfile" ng-model="tenfile" id="tenfile"
                            ng-required=true>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" ng-click="thongketheoloai(tenfile,'#loaisanpham')">Xuất</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- vùng xã -->
                <div class="table-responsive mt-2">
                  <table class="table mt-3 border-top" border="1" id="vungxa">
                    <thead>
                      <tr></tr>

                      <th>ID</th>
                      <th>Tên Bất Động Sản</th>
                      <th>Loại Bất Động Sản</th>
                      <th>Phường</th>
                      <th>Đường</th>
                      <th>Hướng</th>
                      <th>Chiều Rộng</th>
                      <th>Chiều Dài</th>
                      <th>Diện Tích</th>
                      <th>Giá</th>
                      <th>Đơn Vị Giá</th>
                      <th>Hẻm</th>
                      <th>Pháp Lý</th>
                      <th>Thổ Cư</th>


                      </tr>
                    </thead>
                    <tbody ng-repeat="x in sanphamtheovungs | orderBy: 'idSanphamcty' | filter: search">
                      <tr>
                        <td>{{x.idSanphamcty}}</td>
                        <td>{{x.nameSanpham_cty}}</td>
                        <td>{{x.loaisanpham.tenLoaisp}}</td>
                        <td>{{x.vungxa.tenVungxa}}</td>
                        <td>{{x.duong.tenDuong}}</td>
                        <td>{{x.huong.nameHuong}}</td>
                        <td>{{x.chieurongSanpham_cty}}</td>
                        <td>{{x.chieudaiSanpham_cty}}</td>
                        <td>{{x.dientichSanpham_cty}}</td>
                        <td>{{x.giaSanpham_cty}}</td>
                        <td>{{x.donvigia.tenDonvigia}}</td>
                        <td>{{x.chieuronghem.tenHem}}</td>
                        <td>{{x.phaply.tenphaply}}</td>
                        <td>{{x.thocuSanpham_cty}}</td>
                      </tr>
                    </tbody>
                    <tr>
                      <td colspan="16"><b>Tổng Cộng </b>{{tong}}</td>
                    </tr>
                  </table>
                  <div class="d-flex table-responsive">
        
                    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#vung" id="nutxuatvung">
                      Xuất File Excel
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="vung" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Đặt Tên File</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <input class="form-control" style="outline: 2px solid black;" type="text" name="tenfile1" ng-model="tenfile1" id="tenfile1"
                            ng-required=true>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" ng-click="thongketheovung(tenfile1,'#vungxa')">Xuất</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
                  href="../../../../../../index.html" target="_blank">Urbanui</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                  class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../../vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../../js/off-canvas.js"></script>
    <script src="../../../../js/hoverable-collapse.js"></script>
    <script src="../../../../js/template.js"></script>
    <script src="../../../../js/settings.js"></script>
    <script src="../../../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../../../js/data-table.js"></script>
    <!-- End custom js for this page-->
</body>

</html>